<?xml version="1.0" encoding="utf-8" ?>
<!-- Do not use the User Id and password they will not work. Set up your own on your SQL Server -->
<configuration>
	<connectionStrings>
		<add name="cn" connectionString=""Data Source=.;Initial Catalog="Northwind;User Id=sa;Password=123@qaz;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>
